/* =================== */
/* IMPORT FONTS */
/* =================== */

/* OpenSans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

/* =================== */
/* MODAL WINDOW STYLES */
/* =================== */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--primary-backdrop-color);
    overflow: auto;
    text-align: center;
    height: 100%;    
    width: 100%;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    animation-duration: 500ms;
}

.modal-content * {
    color: #252525;
}

.modal-content img {
    border-radius: 1em;
}

.close {
    right: 12%;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2em;
    transition: background-color 300ms ease-in;
    color: #252525;
}

.close:hover {
    background-color: #222;
    color: #fff;
}

/* MODAL OPEN ANIMATION */
@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        display: block;
        transform: scale(1);
    }
}
/* MODAL CLOSE ANIMATION */
@keyframes hideModal {
    0% {
        opacity: 1;
        display: block;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }

}

/* ================ */
/* GLOBAL VARIABLES */
/* ================ */
:root {
    --primary-color: rgb(152, 255, 143);
    --primary-backdrop-color: rgba(152, 255, 143, 0.6);
    --secondary-color: #03719C;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #252525;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

video {
    width: 100%;
    margin-top: 20px;
}

h1, 
h2, 
h3, 
h4, 
p {
    color: white;
    margin: 0;
}

/* Show a pdf icon for any link */
/* that points to a pdf file */

a[href$=".pdf"] {
    position: relative;
    margin-right: 15px;
    color: #FF6163;
}
a[href$=".pdf"]::after {
    /* position: absolute; */
    content: " (.pdf)";
    /* content: url(../assets/icons/pdf-icon.svg); */
    width: 15px;
}

/* ========================= */
/* GLOBAL STYLES */
/* ========================= */
a {
    text-decoration: none;
}


.section-body-text {
    color: #969696;
}

.highlight {
    background-color: rgb(53, 208, 255);
}

/* ================== */
/* HERO HEADER */
/* ================== */
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 50px 10%;
}

header .hero-image {
    width: 80%;
}

header .hero-title {
    margin-top: 50px;
}

/* ================== */
/* BUTTON STYLES */
/* ================== */
.btn {
    background-color: transparent;
    padding: 0.9em;
    color: rgb(236, 236, 236);
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: background-color, color 250ms ease-in;
}

.btn:hover {
    background-color: var(--primary-color);
    color: rgb(32, 32, 32);
}

.btn-filled {
    color: rgb(32, 32, 32);
    background-color: var(--primary-color);
}

.btn-filled:hover {
    border: 2px solid white;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: #016795;
}

.btn:visited {
    border: 2px solid #fff;
}

/* ================= */
/* END BUTTON STYLES */
/* ================= */


/* LOGO STYLE AND ANIMATION */
.logo {
    letter-spacing: 4px;
    transition: letter-spacing 200ms ease-in-out;
    font-size: 1.2em;
    color: rgb(221, 221, 221);
    width: fit-content;
}

.logo:hover {
    letter-spacing: 1px;
}

/* Hide Desktop Navigation: Mobile Size */
.desktop-nav {
    display: none;
}

/* NAVIGATION STYLES */
nav > a {
    color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 0 20px;
    padding: 10px;
    border-radius: 4%;
    border: 2px solid transparent;
    align-self: flex-end;
    transition: border 200ms ease-in;
}

nav ul li a {
    color: rgb(221, 221, 221);
    letter-spacing: 1px;
    font-size: 1.1em;
}


/* Desktop navigation specific */
.desktop-nav {
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.desktop-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Highlight active links */
.active-link {
    background-color:  var(--primary-color);
}

.active-link a {
    color: rgb(34, 34, 34) !important;
}

/* Highlight non-active links on hover */
nav ul li:hover:not(.active-link) {
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
}

nav ul li:hover:not(.active-link) a{
    color: rgb(255, 255, 255);
}

/* Mobile Navigation Specific */
.mobile-nav {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.9);
}

.mobile-nav ul {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 10px;
}

.mobile-nav ul li {
    margin-bottom: 20px;
}

.mobile-nav ul li a {
    font-size: 1.2em;
}

.nav-button {
    z-index: 9;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fff !important;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

/* NAVIGATION ANIMATION */
.show-nav {
    animation-name: showIn;
    animation-timing-function: ease-in-out;
    animation-duration: 400ms;
    display: block;
}

@keyframes showIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 30px;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section-title h2 {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.border-bottom {
    border-bottom: 2px solid var(--primary-color);
    width: 40%;
}

section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
}

.hero-title,
.hero-subtitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.hero-title {
    font-weight: 300;
}

.hero-subtitle {
    font-weight: 400;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}

p.dim {
    color: rgb(153, 153, 153);
    font-family: 'Raleway' sans-serif;
    text-align: center;
}


/* ==================== */
/* HOME PAGE SPECIFIC STYLES */
/* ==================== */
.avatar-grid {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.avatar-grid > * {
    margin-bottom: 20px;
}

.circular {
    border-radius: 50%;
}

.circle-avatar {
    margin: 10%;
    width: 80%;
    opacity: 0;
    border: 2px dashed var(--primary-color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.circle-avatar:hover {
    transform: scale(1.1);
    border: 2px solid var(--primary-color);
}

/* ==================== */
/* CATEGORIES LIST SECTION */
/* ==================== */
.card-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.categories > * {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}

.category-card {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.categories > :nth-child(1) {
    background-color: #ff4e50;
}

.categories > :nth-child(2) {
    background-color: #9900FA;
}

.categories > :nth-child(3) {
    background-color: #338d5c;
}

.categories > :nth-child(4) {
    background-color: #3E82FC;
}

.card-list i {
    color: white;
    font-size: 1.4em;
    margin: 17px 0;
}

.category-card > p {
    font-size: 0.8em;
}

.category-card p {
    color: rgb(252, 252, 252);
}

/* ==================== */
/* FEATURED ARTICLE SECTION */
/* ==================== */
.featured-article {
    width: 98%;
    margin: 1%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.article-banner-img {
    width: 100%;
}

.article-details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.article-title,
.article-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    order: -1;
    letter-spacing: 1px;
}

.article-title  {
    text-align: center;
    font-size: 1.3em;
}

.article-subtitle {
    color: #ccc;
    margin-bottom: 10px;
    letter-spacing: 0;
}

.article-body {
    font-size: 0.9em;
    text-align: center;
    margin-top: 13px;
    color: rgb(230, 230, 230);
}

.author-line {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 92%;
    margin: 15px 4%;
}

.author-line > * {
    margin: 0;
}

.author-line figure img {
    height: 2em;
}

.author-line button {
    font-size: 0.8em;
    margin-top: 20px;
    flex-basis: 100%;
}

.featured-article figure {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: flex-start;
    margin-right: auto;
}

.featured-article figcaption {
    margin-left: 10px;
    color: rgb(230, 230, 230);
}

/* View Count (EYE ICON + COUNT) */
.featured-article .view-count * {
    color: #ccc;
    font-size: 0.95em;
    transition: color, transform 100ms ease-out;
}

.featured-article .view-count i:hover {
    color: #f1f1f1;
    transform: scale(1.05);
}


/* ==================== */
/* CONTACT US SECTION */
/* ==================== */
.contact-form {
    display: flex;
    flex-flow: column nowrap;
    width: 96%;
    margin: 0 2%;
}

.contact-form label {
    color: rgb(230, 230, 230);
    margin: 10px 0;
}


.contact-form input[type="text"],
.contact-form input[type="email"] {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.contact-form input[type="submit"] {
    width: 80%;
    align-self: center;
}

.form-group {
    margin: 20px 0;
}

/* ========================= */
/* FOOTER */
/* ========================= */
footer {
    background-color: #f0f0f0;
    padding: 2em 1em;
    display: grid;
}

footer i {
    color: rgb(94, 94, 94);
    cursor: pointer;
    transition: transform 300ms ease-in;
    width: 20px;
}

.social-media {
    transition: color 300ms ease-in;
    cursor: pointer;
}

.social-media:hover{
    color: var(--secondary-color);
}

footer .logo {
    color: rgb(0, 0, 0);
    margin-bottom: 1.5em;
}

.social-media-list {
    margin-bottom: 20px;
}

.site-map {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.site-map a {
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    box-sizing: border-box !important;
    transition: border 200ms ease-in;
    border-left: 3px solid transparent;
}

.site-map a:hover {
    border-left: 3px solid var(--secondary-color);
}

.copyright {
    text-align: center;
    color: #f5f5f5;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 300;
}

/* ========================== */
/* SHORTS PAGE */
/* ========================== */
#shorts-list {
    color: #fff;
    margin-top: 30px;
}

/* ========================== */
/* TRAVEL PAGE */
/* ========================== */

.travel-guide img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.travel-guide figcaption {
    background-color: #fff;
    padding: 20px;
}

.travel-guide figcaption i {
    color: rgb(24, 24, 24);
    display: block;
    text-align: center;
}

.travel-guide figcaption i:hover {
    cursor: pointer;
}

.gallery-grid {
    display: flex;
    flex-flow: column nowrap;
}

.gallery-grid div {
    height: 300px;
    border-radius: 0.5em;
    margin: 20px 0;
    width: 80vw;
}

.gallery-grid a:nth-child(1) div { 
    background: url("../assets/images/travel_page/photo1.jpg");
    background-size: cover;
    background-position-x: center;
}

.gallery-grid a:nth-child(2) div { 
    background: url("../assets/images/travel_page/photo2.jpg");
    background-size: cover;
    background-position-y: bottom;
}

.gallery-grid a:nth-child(3) div { 
    background: url("../assets/images/travel_page/photo3.jpg");
    background-size: cover;
    background-position-y: bottom;
}

.gallery-grid a:nth-child(4) div { 
    background: url("../assets/images/travel_page/photo4.jpg");
    background-size: cover;
}

.gallery-grid a:nth-child(5) div { 
    background: url("../assets/images/travel_page/photo5.jpg");
    background-size: cover;
}

.gallery-grid a:nth-child(6) div { 
    background: url("../assets/images/travel_page/photo6.jpg");
    background-size: cover;
    background-position-y: bottom;
}

/* Style Photographers Grid */
.photographers-grid {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

.photographers-grid img {
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    width: 100%;
    transition: transform 200ms ease-out;
}

.photographers-grid img:hover {
    transform: scale(1.1);
}

/* UTILS */
.mt-2 {
    margin-top: 2em;
}

/* ========================= */
/* MEDIA QUERIES */
/* ========================= */

/* TABLET SIZE */
@media (min-width: 768px) {
    /* Hide Mobile Navigation */
    .mobile-nav,.nav-button {
        display: none !important;
    }

    /* Show desktop Navigation */
    .desktop-nav {
        display: flex;
    }

    /* Hero Section */
    header {
        margin: 0;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 50px 5%;
        margin-bottom: 3em;
        background-color: rgb(32, 32, 32);
        align-items: center;
    }

    .hero-image {
        order: 2;
        height: 40vh;
    }

    .hero-title,
    .hero-subtitle {
        text-align: left;
    }

    /* HOME PAGE */
    /* CATEGORIES LIST */
    .card-list {
        flex-flow: row wrap;
    }

    .card-list > * {
        flex-basis: 20%;
    }

    /* OUR STAFF SECTION */
    .avatar-grid {
        flex-flow: row wrap;
        margin: 4% 0;
        justify-content: center;
    }

    .avatar-grid > * {
        margin: 30px 20px;
        flex-basis: 22%;
        width: 100%;
        height: 100%;
    }

    /* FEATURED ARTICLE SECTION */
    .featured-article {
        flex-flow: row nowrap;
    }
    
    .featured-article .article-title {
        font-size: 2em;
    }

    .author-line button {
        margin: 0;
        flex-basis: auto;
    }

    .author-line figure {
        margin: 0;
    }

    .author-line {
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    .article-title,
    .article-subtitle,
    .article-body {
        order: 0;
        text-align: left;
    }

    .article-banner-img {
        flex-basis: 30%;
        border-radius: 5px;
        width: 30%;
    }

    .article-details {
        margin-left: 20px;
        align-items: flex-start;
    }

    /* FOOTER */
    footer {
        /* 3 Equal width columns */
        grid-template-columns: repeat(3, 1fr);
    }

    .copyright {
        /* Take full width */
        grid-column: 1/4;
    }

    .social-media-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-bottom: 8em;
    }

    /* =========== */
    /* TRAVEL PAGE */
    /* =========== */
    /* Create a 4 by 3 grid */
    .gallery-grid {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw;
        grid-template-rows: 250px 250px 150px 300px;
        row-gap: 10px;
        column-gap: 30px;
    }

    .gallery-grid a div {
        width: 100%;
        height: 100%;
        margin: 20px;
    }

    /* Place children on the Gallery Grid */
    .gallery-grid a:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .gallery-grid a:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .gallery-grid a:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    .gallery-grid a:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .gallery-grid a:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .gallery-grid a:nth-child(6) {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    /* Create a 3-column grid */
    .photographers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: auto;
    }
    
    /* Place all the images on the second row */
    .photographers-grid img {
        grid-row: 2 / 3;
    }

    /* Placing one image on the top row */
    /* and center column */
    .photographers-grid img:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }   
}

/* DESKTOP SIZE */
@media (min-width: 1224px) {
    
    /* GLOBALS */
    section {
        padding: 0 20%;
    }

    /* HOME PAGE */
    /* OUR STAFF SECTION */
    .avatar-grid > * {
        margin: 30px 20px;
        flex-basis: 20%;
        width: 100%;
    }

    header div {
        flex-basis: 40%;
    }

    header {
        padding: 50px 5%;
    }
    
}



